<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/not_found.css">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/no-search-found-2511608-2133696.png" alt="">
            <h1><em><%= name %> </em> -: cannot Found in DataBase</h1>

        </div>

    </div>

</body>
</html>